* {
	padding: 0;
	margin: 0;
}

body {
	overflow: hidden;
  color: black;
	background-color: white;
}

#toolbox {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 11em;
  word-break: break-all;
}

#toolbox input {
  border: none;
  -webkit-appearance: none;
}

#face {
  vertical-align: middle;
  max-width: 2em;
  height: 2em;
  overflow: hidden;
}

.detail {
  font-size: 0.5em;
}

.editable:hover {
  text-decoration: underline;
}

.editable input {
  width: 10em;
}

.editable img {
  width: 1em;
  height: 1em;
}

#logs {
  overflow: scroll;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: black;
  max-height: 5em;
}

.popup {
  position: absolute;
  z-index: 100;
  overflow: scroll;
  max-height: 500px;
}

.popup img {
  width: 100px;
  height: 100px;
}

.popup li {
  list-style: none;
}

/* ------------------------------------------
PURE CSS SPEECH BUBBLES
by Nicolas Gallagher
- http://nicolasgallagher.com/pure-css-speech-bubbles/

http://nicolasgallagher.com
http://twitter.com/necolas

Created: 02 March 2010
Version: 1.2 (03 March 2011)

Dual licensed under MIT and GNU GPLv2 � Nicolas Gallagher 
------------------------------------------ */

/* ============================================================================================================================
== BUBBLE WITH A BORDER AND TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border {
	position:relative;
	padding:3px;
	/*margin:1em 0 2em;*/
	border:2px solid #9AE4E8;
	color:#333;
	background:#fff;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.left {
	margin-left:10px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border:before {
	content:"";
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:40px; /* controls horizontal position */
  border-width:10px 10px 0;
	border-style:solid;
  border-color:#9AE4E8 transparent;
  /* reduce the damage in FF3.0 */
  display:block; 
  width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
	content:"";
	position:absolute;
	bottom:-13px; /* value = - border-top-width - border-bottom-width */
	left:61px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	border-width:6px 6px 0;
	border-style:solid;
	border-color:#fff transparent;

  /* reduce the damage in FF3.0 */
  display:block; 
  width:0;
}

/* Variant : left
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.left:before {
	top:3px; /* controls vertical position */
	bottom:auto;
	left:-15px; /* value = - border-left-width - border-right-width */
	border-width:7px 15px 7px 0;
	border-color:transparent #9AE4E8;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
	top:6px; /* value = (:before top) + (:before border-top) - (:after border-top) */
	bottom:auto;
	left:-10px; /* value = - border-left-width - border-right-width */
	border-width:4px 10px 4px 0;
	border-color:transparent #fff;
}
